.colorFooter{
    background: map-get($colorBarras , colorFooter);
    .colorLinksFooter{
        color: map-get($colorlinks , colorLinksFooter) !important;
        &:hover{
            color: map-get($colorHovers , colorHoverFooter)!important;
            font-size: 35px;
        }
    }
    .colorFirmaFooter{
        color: map-get($colorFirmaFooter , colorFirmaFooter) !important;
    }
}
