@mixin buttons($bgColor, $textColor, $borderColor) {
    border: none;
    padding: 10px;
    background-color: $bgColor ;
    color: $textColor;
    border-bottom: 03px solid $borderColor;
    cursor: pointer;
    @if $radius {
        border-radius: 03px;
    } @else{
        border-radius: 05px;
    }
}
@mixin flex($direction:row, $justify, $align, $height, $width, $wrap:false){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    height: $height;
    width: $width;
    @if wrap{
        flex-wrap: wrap;
    } @else{
        flex-wrap: nowrap;
    }
}