%botonBase{
        border: solid;
        padding: 10px;
        border-radius: 05px;
        font-family: map-get($fonts, primaryFont);
        cursor: pointer;
        border-bottom: 05px solid;
}

%cardBase{
    width: 90%;
    max-width: 400px;
    padding: 1rem 1rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3rem map-get($shadows, basic);
    border-top-color: map-get($bordersCards, top);
    border-left-color: map-get($bordersCards, left);
    border-right-color:map-get($bordersCards, right) ;
    border-bottom-color: map-get($bordersCards, bottom);
}

%flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
%wrap{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

%backgroundImage{
    background-image:url(/images/fondoContactanos.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
%backgroundImageCenter{
    background-image: url(/images/fondoBody2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}