/*----------------------------Footer----------------------------*/

.colorFooter{
    font-family:map-get($fonts, primaryFont);
    background: map-get($links, colorFooter);
        .colorLinksFooter{
            font-size: 30px;
            color:map-get($links, colorLinksFooter);
            transition: 0.5s ease;
            &:hover{
                color: map-get($links, colorHoverFooter);
                font-size: 35px;
            }
        }       
        .colorFirmaFooter{
            color:map-get($links, colorFirmaFooter);
        }
}