/*----------------------------Footer----------------------------*/

.colorFooter{
    box-sizing: border-box;
    background: map-get($colours, navShadow);
    font-family: map-get($fonts, primaryFont);
        .colorLinksFooter{
            font-size: 30px;
            color:map-get($links, colorLinksFooter);
            transition: 0.5s ease;
        }
        .footer .nav .nav-link:hover{
            background-color: map-get($links, colorHoverFooter);
        }
        .colorFirmaFooter{
            color:map-get($links, colorFirmaFooter);
        }
        
}

    .tituloRedes{
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        color:map-get($links, colorLinksFooter);
        font-style: italic;
        font-family:  map-get($fonts, secondaryFont);
    
    }
    .tituloRedes h2{
        font-size: 50px;
        font-family:  map-get($fonts, secondaryFont);
        padding-top: 10px;
    }
    .logoFb{
        width: 60px;
        height: 60px;
    }
    .logoIg{
        width: 60px;
        height: 60px;
    }