/*------------Cabecera de la página---------------*/
.navbar{
    box-sizing: border-box;
    background: map-get($colours, navShadow);
    font-family: map-get($fonts, primaryFont);
    padding-right: 30px;
        .colorLinksNav{
            font-size: 30px;
            color: map-get($links, colorLinksNav);
            transition: 0.5s ease;
        }
        .navbar-nav .nav-link:hover{
            background-color: map-get($links, colorHoverNav);
        }
}
.logoNav{
    height: 50px;
    width: 100%;
}
@media screen and (min-width: 768px){
    .logoNav{
        height: 160px;
    }
}