/*------------Cabecera de la página---------------*/
.color-nav{
    font-family:'Courier New', Courier, monospace;
    background-image: map-get($links, colorNav) ;
        .colorTitleNav{
            font-size: 40px;
            color:map-get($links, colorTitleNav) ;
        }
        .colorLinksNav{
            font-size: 30px;
            color: map-get($links, colorLinksNav) ;
            transition: 0.5s ease;
            &:hover{
                color: map-get($links, colorHoverNav);
                font-size: 35px;
            }
        }
}