$links:(
    colorNav:linear-gradient(15deg,rgb(68, 96, 110), rgb(71, 97, 109), rgb(121, 132, 137), rgb(71, 97, 109),rgb(68, 96, 110)),
    colorLinksNav:rgb(209, 216, 218),
    colorTitleNav: rgb(209, 216, 218),
    colorHoverNav:rgb(235, 125, 52),
    colorFooter:linear-gradient(15deg,rgb(68, 96, 110), rgb(71, 97, 109), rgb(121, 132, 137), rgb(71, 97, 109),rgb(68, 96, 110)),
    colorLinksFooter:rgb(209, 216, 218),
    colorHoverFooter:rgb(235, 125, 52),
    colorFirmaFooter:rgb(209, 216, 218),
);

$fonts:(
    primaryFont:'Courier Prime', monospace,
    secondaryFont: 'Dancing Script', cursive
);
