.color-nav{
    background-image: map-get($colorBarras, colorNav); 
    .estilos-nav{
        font-size: 30px;
        color: map-get($colorlinks, colorLinkNav);
        .colorLinksNav{
            color: map-get($colorlinks, colorLinkNav) !important;
            &:hover{
                color: map-get($colorHovers, colorHoverNav) !important;
                font-size: 35px;
            }
        }
    }
    .colorTitleNav{
        color: map-get($colorlinks, colorLinkNav) !important;
    }
}

