.main{
    height: 900px;
    width: 100%;
    background-image:map-get($backgroudpages , backgroudpages);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}