/*----------------------------Página quienes somos----------------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family:  map-get($fonts, primaryFont);
}
.body {
    background-image: url(/Images/fondo\ body\ 2.jpg);
  }
.carousel-caption{
    box-sizing: border-box;
    background: map-get($colours, navShadow);

}
.carousel-caption h1{
    font-size: 80px;
}
.carousel-caption p{
    font-size: 20px;
}